/* Formas */
/* Tesseract Animation */
.tesseract {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(-15deg);
    transform-style: preserve-3d;
    animation: rotation 15s linear infinite;
    margin: 40px auto;
    cursor: pointer;
}

@keyframes rotation {
    0% {
        transform: rotateX(-20deg) rotateY(0deg); 
    }
    100% {
        transform: rotateX(-20deg) rotateY(360deg); 
    }
}

.face{
    position: absolute;
    width: 2em;
    height: 2em;
    background: #00ff00;
    box-shadow: inset 0 0 15px 2px #006400,
                inset 0 0 20px 6px #00cc00,
                inset 0 0 25px 10px #32cd32,
                inset 0 0 30px 14px #7fff00,
                inset 0 0 0 1em #00ff00,
                0 0 10px rgba(0, 255, 0, 0.7),
                0 0 20px rgba(0, 204, 0, 0.7), 
                0 0 30px rgba(50, 205, 50, 0.6), 
                0 0 45px rgba(127, 255, 0, 0.4);
}

    /* Posiciones 3D para cada cara */
.front {
    transform: translateZ(1em);
}
.back {
    transform: translateZ(-1em);
}
.top {
    transform: translateY(-1em) rotateX(90deg);
}
.bottom {
    transform: translateY(1em) rotateX(90deg);
}
.right {
    transform: translateX(1em) rotateY(90deg);
}
.left {
    transform: translateX(-1em) rotateY(90deg);
}

/* 3d pyramid */
:root{
    --light-green:#00cc00;
}
.pyramid_box{
    position:relative;
    margin: 0 auto 10px auto;
    width: 50px;
    height: 50px;
    transform-style: preserve-3d;
    animation: rotation 15s linear infinite;
}
.pyramid_box div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.pyramid_box div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#006400,var(--light-green));
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotateY(calc(90deg * var(--i))) translateZ(25px) rotateX(30deg);
    transform-origin: bottom;
}
.pyramid_box div span:nth-child(1){
--i:0
}
.pyramid_box div span:nth-child(2){
--i:1
}
.pyramid_box div span:nth-child(3){
--i:2
}
.pyramid_box div span:nth-child(4){
--i:3
}
.glow_box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-green);
    transform: rotateX(90deg) translateZ(-25px);
    filter:blur(5px);
    box-shadow: 0 0 100px var(--light-green);
}
