/* Form Styles */
form {
    margin-top: 20px;
}

form label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #00ff00;
    background: #000;
    color: #00ff00;
}

form button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00ff00;
    color: #000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #00cc00;
}