/* Project Cards */
.project-card {
    background-color: #111111;
    border: 2px solid #00ff00;
    margin-bottom: 15px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.project-card:hover {
    background-color: #000;
    color: #00ff00;
    border-color: #00ff00;
    box-shadow: 3px 3px 5px rgba(0, 255, 0, 0.2);
}

.project-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 0 0 5px #00ff00;
}

.project-description {
    font-size: 0.9rem;
    color: #00ff00;
    margin-bottom: 10px;
}

.project-details {
    font-size: 0.9rem;
    margin-top: 10px;
    display: none;
    color: #00ff00;
    text-align: left;
}

.project-card.active .project-details {
    display: block;
}

/*button*/
.project-button {
    background-color: black;
    color: #00FF00; 
    border: 2px solid #00FF00;
    padding: 5px 10px;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.project-button:hover {
    background-color: #00FF00;
    color: black;
    transform: scale(1.1);
}

.project-button:active {
    transform: scale(1);
}

hr {
    border: none; 
    height: 2px; 
    background-color: #00ff00; 
}