/* Accordion (pesta単as) */
.accordion-container {
    display: flex;            /* Para poner las pesta単as en una fila */
    justify-content: center;
    gap: 10px;                /* Espaciado entre las pesta単as */
    margin: 20px 0;
}

.accordion {
    background-color: #111;
    border: 2px solid #00ff00;
    color: #00ff00;
    cursor: pointer;
    padding: 20px;
    width: 140px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;                 /* Fija una altura para las pesta単as */
}

    /* Colores asociados a cada pecado */
.accordion.lust:hover {
    background-color: #850885; /* Lujuria - morado oscuro */
}
.accordion.gluttony:hover {
    background-color: #cc5992; /* Gula - rosa */
}
.accordion.greed:hover {
    background-color: #8e6f00; /* Avaricia - dorado oscuro */
}
.accordion.sloth:hover {
    background-color: #595959; /* Pereza - gris */
}
.accordion.anger:hover {
    background-color: #870f0f; /* Ira - rojo oscuro */
}
.accordion.envy:hover {
    background-color: #316a19; /* Envidia - verde oscuro */
}
.accordion.pride:hover {
    background-color: #113d56; /* Soberbia - azul oscuro */
}

.panel {
    background-color: #111;
    overflow: hidden;
    color: #ddd;
    padding: 15px;
    font-size: 1.2rem;
    border-top: 1px solid #00ff00;
    display: none;
}

.panel.active {
    display: block;
}


.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.image {
    margin-right: 20px;
}

.text {
    max-width: 60%;
    text-align: left;
}
