/* General Styles */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #00ff00;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #00ff00;
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
    background-color: #000;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}

/* Heading Styles */
h1 {
    font-size: 36px;
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
    margin-bottom: 20px;
}

/* Paragraph Styles */
p {
    font-size: 20px;
    color: #00ff00;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Form Styles */
form {
    margin: 20px 0;
}

label {
    font-size: 18px;
    color: #00ff00;
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    font-size: 16px;
    color: #00ff00;
    background-color: #000;
    border: 2px solid #00ff00;
    padding: 10px;
    width: 80%;
    box-shadow: 0 0 10px #00ff00;
    outline: none;
    margin-bottom: 20px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #000;
    background-color: #00ff00;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    color: #00ff00;
    background-color: #000;
    border: 2px solid #00ff00;
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}

/* Message Styles */
.message {
    font-size: 18px;
    color: #00ff00;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #00ff00;
    background-color: #000;
    text-shadow: 0 0 10px #00ff00;
    display: inline-block;
    word-wrap: break-word;
}

/* Estilo para el botón de vuelta */
.back-button {
    position: fixed; /* Fija el botón en la pantalla */
    top: 45px; /* Lo coloca en la parte superior */
    left: 10%; /* Lo coloca en la parte izquierda */
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #000;
    background-color: #00ff00;
    border: 2px solid #00ff00; /* Agrega borde de 2px */
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.back-button:hover {
    color: #00ff00;
    background-color: #000;
    border: 2px solid #00ff00; /* Mantener borde en hover */
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00; /* Mantener sombra */
}
